/*This is for main body*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}


/*This is for  header bar*/
.nav-bar {
  background-color: #6B7A8F;

}




.image-space {
  height: 120%;
  width: 120%;
}
